ul{
    list-style: circle;
}
body{
    background-color: rgb(128, 128, 128);
}
header p{
    color: #000;
}
#topo-p{
    color: #000;
}
.brilhante{
    color: rgb(0,0,255);
    font-family: 'Courier New';
    font-size: 1em;
}

table{
    border-collapse: collapse;
    border: 2px solid rgb(0,0,0)
}

table th, td{
    border: 2px solid rgb(0,0,0);
}

table tr:nth-child(odd){
    background-color: #cccc;
}

table tr:nth-child(even){
    background-color: rgba(40, 20, 220, 0.363);
}
