header{
    color: white;
   
}

ul{
    display: block;
    list-style: circle;
}

.direitos{
    color: bisque;
}

body {
    background-color: rgba(146, 132, 129, 0.884);
}

p{
    
    color: rgb(8, 8, 8);
}
#topo-p{
    background-color: rgba(0,0, 255, 0.2333);
    color: rgb(5, 5, 5);
}

.brilhante{
    color: rgb(50, 112, 228);
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
}
table{
    border: 2px solid black;
    border-collapse: collapse;
}

table, th, td{
    border: 2px solid black;
    border-collapse: collapse;
}
table tr:nth-child(odd){
    background-color: #ccc;
}
table tr:hover{
    background-color:rgb(230, 18, 18);
}